header {
    width: 90%;
    margin: auto;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

nav {
    display: inline-block;
    text-align: end;
    width: 50%;
}

hr {
    width: 90%;
}

#titulo {
    display: inline-block;
    font-size: 300%;
    width: 49%;
}

#container {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

#mapa {
    vertical-align: top;
    display: inline-block;
    height: 500px;
    width: 69%;
}

#ciudades {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 700px;
    padding: 5px;
    width: 29%;
}

#iconoCarga {
    width: 75px;
}

.login {
    border: 1px solid black;

}

.card {
    border: 1px black solid;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    padding: 5px;
    width: auto;
}

.separador {
    width: 50%;
}

.divisor {
    width: 100%;
    margin: 5px 0px;
}

div .btnEliminar {
    position: absolute;
    right: 0px;
    top: 0px;
}